<div class="m-[100px] max-w-[880px] w-full mx-auto">
  <div class="text-center text-[112px] text-accent-logo font-bold font-logo tracking-wide leading-none">
    Mshift
  </div>
  <div class="mt-14 pt-12 pb-14 px-8 border-2 border-line-100 rounded-xl shadow-lg">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="w-full">
        <div class="mb-8">
          <%= f.label :name, "氏名", class: "block mb-4 w-fit text-base text-main-black leading-none" %>
          <%= f.text_field :name, placeholder: "柴田まさし", class: "block w-full h-10 px-2 text-main-black border border-line-100 rounded-md placeholder-line-100" %>
        </div>
        <div class="mb-8 ">
          <%= f.label :email, "メールアドレス", class: "block mb-4 w-fit text-base text-main-black leading-none" %>
          <%= f.email_field :email, placeholder: "info@mshift.co.jp", class: "block w-full h-10 px-2 text-main-black border border-line-100 rounded-md placeholder-line-100" %>
        </div>
        <div class="mb-8">
          <%= f.label :password, "パスワード", class: "block mb-4 w-fit text-base text-main-black leading-none" %>
          <%= f.password_field :password, placeholder: "mshift2022", class: "block w-full h-10 px-2 text-main-black border border-line-100 rounded-md placeholder-line-100" %>
        </div>
        <div class="mb-8">
          <%= f.label :password_confirmation, "パスワードの確認", class: "block mb-4 w-fit text-base text-main-black leading-none" %>
          <%= f.password_field :password_confirmation, placeholder: "mshift2022", class: "block w-full h-10 px-2 text-main-black border border-line-100 rounded-md placeholder-line-100" %>
        </div>
      </div>
      <div class="flex justify-center mt-14">
        <%= f.submit "新規登録", class: "block px-[200px] text-center w-[500px] h-10 px-2 bg-accent-logo text-main-white tracking-[0.05em] rounded-md shadow-md cursor-pointer" %>
      </div>
    <% end %>
  </div>
</div>
