<div>
  <div>
    <%= render partial: "layouts/header" %>
    <%= render partial: "layouts/sidebar" %>
  </div>
  <div class="pt-[72px] pl-[184px]">
    <div class="px-14">
      <h1 class="mt-10 text-2xl font-bold">仕事管理</h1>
        <div class="flex justify-between items-center">
          <div class=""></div>
          <%= link_to "戻る", user_event_members_path(current_user.id, @event.id), class: "block text-center ml-auto mb-4 py-1 w-[104px] h-8 text-white font-bold bg-[#818181] rounded-md" %>
        </div>
        <div class="">
          <div class="w-full h-[500px] overflow-x-scroll border-2">
            <table class="border-2">
              <tr>
                <th width="120px" height="32px" class="border-r-2 border-b-2 min-w-[120px]"></th>
                <% @schedules.each do |schedule| %>
                  <th width="120px" height="32px" class="border-r-2 border-b-2 leading-none min-w-[72px] w-[72px]"><%= schedule.time_zone %></th>
                <% end %>
              </tr>
              <% @members.each do |member| %>
                <tr height="32px" width="120px" align="center" class="text-base font-bold border-b-2">
                  <td class="border-r-2 text-blue-500 hover:underline">
                    <%= link_to member.name, edit_user_event_member_path(current_user.id, @event.id, member.id) %>
                  </td>
                  <% @schedules.each do |schedule| %>
                    <% if MembersSchedule.exists?(schedule_id: schedule.id, member_id: member.id) %>
                        <td class="border-r-2 bg-main-blue">
                          <%= button_to "必要", user_event_members_schedule_path(current_user.id, @event.id, member.id, schedule.id), method: :delete, class: "block w-full h-full text-main-white" %>
                        </td>
                    <% else %>
                      <td class="border-r-2 pb-1 bg-line-100"></td>
                    <% end %>
                  <% end %>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
