<div>
  <%= render partial: "layouts/header" %>
  <%= render partial: "layouts/sidebar" %>
</div>
<div class="pt-[72px] pl-[184px] pb-[88px]">
  <div class="px-14">
    <%= link_to user_event_members_path(current_user.id, @event.id), class: "block mt-10 text-main-blue leading-none stroke-main-blue hover:text-main-bluehover hover:stroke-main-bluehover" do %>
      <div class="flex gap-x-2 w-fit">
        <%= embedded_svg('back-image') %>
        <div>戻る</div>
      </div>
    <% end %>
    <h1 class="my-6 text-2xl font-bold leading-none">スタッフのシフトの設定</h1>
    <%= search_form_for @q, url: user_event_members_schedules_path(current_user.id, @event.id) do |f| %>
      <%= render partial: "layouts/search_form", locals: { f: f } %>
    <% end %>
    <div class="flex justify-between items-center">
      <div class="leading-none">スタッフのシフトの入れない時間帯を選択してください</div>
      <% if MembersSchedule.where(event_id: @event.id).exists? %>
        <%= link_to "修正する", edit_members_schedules_user_event_members_schedules_path(current_user.id, @event.id), class: "block text-center ml-auto mb-4 py-1 w-[104px] h-8 text-white font-bold bg-main-red rounded-md main-shadow hover:bg-main-redhover" %>
      <% else %>
        <div class="block text-center ml-auto mb-4 py-1 w-[104px] h-8 text-white font-bold bg-line-100 rounded-md">修正する</div>
      <% end %>
    </div>
    <div class="pb-14">
      <%= form_with model: @members_schedule, url: user_event_members_schedules_path(current_user.id, @event.id), method: :post, data: { turbo: false } do |f| %>
        <div class="w-full overflow-x-scroll border-x border-t border-line-100">
          <table>
            <tr>
              <th width="120px" height="32px" class="border-r border-b border-line-100 min-w-[120px] bg-[#EBEBEB]"></th>
              <% @schedules.each do |schedule| %>
                <th width="120px" height="32px" class="border-r border-b border-line-100 leading-none min-w-[72px] w-[72px] bg-[#EBEBEB]">
                  <%= schedule.time_zone %>
                </th>
              <% end %>
            </tr>
            <% @members.each do |member| %>
              <tr height="32px" width="120px" align="center" class="text-base font-bold border-b border-line-100">
                <td class="border-r border-line-100 text-main-black">
                  <%= member.name %>
                </td>
                <% @schedules.each do |schedule| %>
                  <% if MembersSchedule.exists?(schedule_id: schedule.id, member_id: member.id) %>
                    <td class="border-r border-line-100 bg-main-blue">
                      <div class="text-white font-bold">必要</div>
                    </td>
                  <% else %>
                    <td class="border-r border-line-100 pb-1">
                      <%= f.check_box :schedule_ids, { multiple: true, include_hidden: false }, [member.id, schedule.id] %>
                    </td>
                  <% end %>
                <% end %>
              </tr>
            <% end %>
          </table>
        </div>
        <div class="fixed bottom-0 left-[184px] py-6 w-full h-[88px] bg-main-white border-t-2 border-line-100 z-20">
          <%= f.submit "保存する", class: "absolute right-[240px] w-32 h-10 bg-accent-logo text-main-white font-bold px-8 py-2 rounded-md cursor-pointer main-shadow hover:bg-main-bluehover" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
