<% flash.each do |key, value| %>
  <% case key %>
  <% when "notice" %>
    <div class="fixed top-24 translate-x-1/2 right-6 sm:translate-x-0 z-30 w-fit max-w-[90%] sm:max-w-1/2 py-4 px-6 flex justify-center items-center bg-white shadow-lg border border-line-100 rounded-[3px] animate-flash">
      <div class="my-auto mx-4">
        <%= embedded_svg('check', class: "h-4 fill-dark-blue-200") %>
      </div>
      <p class="text-base font-bold text-dark-blue-200 !leading-none"><%= value %></p>
    </div>
  <% when "alert" %>
    <div class="fixed top-24 translate-x-1/2 right-6 sm:translate-x-0 z-30 w-fit max-w-[90%] sm:max-w-1/2 py-4 px-6 flex justify-center items-center bg-white shadow-lg border border-line-100 rounded-[3px] animate-flash">
      <div class="my-auto mr-4">
        <%= embedded_svg('close', class: "h-4 w-4 fill-secondary-200") %>
      </div>
      <p class="text-base font-bold text-secondary-200"><%= value %></p>
    </div>
  <% else %>
    <p class="alert alert-<%= key %>"><%= value %></p>
  <% end %>
<% end %>
