<aside class="fixed min-w-[184px] w-[184px] h-screen pt-[72px] bg-[#4A5459] z-30" aria-label="Sidebar">
  <div class="overflow-y-auto">
    <%= link_to user_event_shifts_path(current_user.id, @event.id), class: "flex items-center h-12 pl-4 hover:bg-[#6C7275] text-main-white" do %>
      <%= embedded_svg('shift-image', class: "mr-4") %>
      <div>シフト表</div>
    <% end %>
    <%= link_to user_event_members_path(current_user.id, @event.id), class: "flex items-center h-12 pl-4 hover:bg-[#6C7275] text-main-white" do %>
      <%= embedded_svg('staff-image', class: "mr-4") %>
      <div>スタッフ管理</div>
    <% end %>
    <%= link_to user_event_works_path(current_user.id, @event.id), class: "flex items-center h-12 pl-4 hover:bg-[#6C7275] text-main-white" do %>
      <%= embedded_svg('work-image', class: "mr-4") %>
      <div>仕事管理</div>
    <% end %>
    <%= link_to user_events_path(current_user.id), class: "flex items-center h-12 pl-4 hover:bg-[#6C7275] text-main-white" do %>
      <%= embedded_svg('shop-image', class: "mr-4") %>
      <div>イベント管理</div>
    <% end %>
    <%= link_to "#", class: "flex items-center h-12 pl-4 hover:bg-[#6C7275] text-main-white" do %>
      <%= embedded_svg('human-image', class: "mr-4") %>
      <div>アカウント管理</div>
    <% end %>
  </div>
</aside>
